header {
  background-color:whitesmoke;
  font-family: 'Agbalumo';
  position: fixed;  
  left:0px;
  top:0px;
  width: 100%;
  text-align:left;
  padding-left: 0px;
  margin-bottom:auto;
}

header a {
  font-family: 'Agbalumo';
  color:black;
  font-size: 3em;
  padding: 20px;
  text-decoration: none;
}

header a:hover{
  color:whitesmoke;
  background-color: black;
  height: 50%;
}

body {
  background-color:whitesmoke;
}

#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
  font-family: 'Agbalumo';
}

#title-input {
  width: 500px;
  padding: 10px;
  margin: 10px 0;
  border: 0;
  box-shadow: 0 0 15px 4px teal;
}

#body-input {
  width: 500px;
  height: 6em;
  padding: 10px;
  margin: 10px 0;
  border: 0;
  box-shadow: 0 0 15px 4px teal;
}

#image-input {
  width: 500px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px teal;
}

button {
  padding: 20px;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-width: 3px;
  border-color:green;
  border-style: double;
}

button:hover {
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.cards {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.card {
  background-color:blanchedalmond;
  border-radius: 10px;
}

textarea {
  resize:none;
}
